---
import { css } from '@/styled-system/css'
import { flex } from '@/styled-system/patterns'
import Playground from './playground.vue'

interface Props {
	id: string
}

const { id } = Astro.props
---

<div
  class={css({
    p: 6,
    borderWidth: 1,
    borderColor: 'gray.200',
    minH: 24
  })}
>
  <div class={flex({ flex: 1})}>
    <Playground id={id} client:load client:visible client:only="vue" />
  </div>
</div>
