---
import { flex } from 'styled-system/patterns'
import Playground from './playground.vue'

interface Props {
  id: string
}

const { id } = Astro.props
---

<div
  class={flex({
    bg: 'gray.50',
    align: 'center',
    justify: 'center',
    p: 6,
    borderWidth: '1px',
    borderColor: 'gray.50',
    minH: 48,
  })}
>
  <div class={flex({ maxW: 'lg', minW: 'lg', mx: 'auto', align: 'center', justify: 'center' })}>
    <Playground id={id} client:load client:only="vue" />
  </div>
</div>
