---



import { flex } from '@/styled-system/patterns'
import Playground from './playground.vue'

interface Props {
	id: string
}

const { id } = Astro.props
---

<div
  class={flex({
    align: 'center',
    justify: 'center',
    p: 6,
    minH: 48,
    borderWidth: 1,
    borderColor: 'gray.200',
  })}
>
  <div class={flex({ flex: 1})}>
    <Playground id={id} client:load client:visible client:only="vue" />
  </div>
</div>
