---
import { getCollection } from 'astro:content'
import { flex } from 'styled-system/patterns'
import { css } from 'styled-system/css'

const allOverview = await getCollection('overview')
const allComponents = await getCollection('components')
const sidebars = [
	{ title: 'Overview', items: [...allOverview] },
	{ title: 'Components', items: [...allComponents] },
]

const { slug } = Astro.params
---

<div class={flex({ direction: 'column', gap: 2, pb: 8 })}>
  {
    sidebars.map((sidebar) => (
      <div class={flex({ direction: 'column' })}>
        <div class={css({ fontWeight: 500, py: 2 })}>{sidebar.title}</div>
        <ul
          class={flex({
            direction: 'column',
            pl: 3,
            borderLeftWidth: '1px',
            borderColor: 'gray.200',
          })}
        >
          {sidebar.items.map((item) => (
            <li
              class={css({
                bg: slug === item.slug ? 'blue.100' : '',
                cursor: slug === item.slug ? 'default' : 'cursor',
                pointerEvents: slug === item.slug ? 'none' : 'auto',
                px: 2,
                py: 1.5,
                fontSize: 'sm',
                rounded: 'sm',
                _hover: { bg: 'gray.50' },
              })}
            >
              <a
                class={css({ display: 'block' })}
                href={`/${sidebar.title.toLowerCase()}/${item.slug}`}
              >
                {item.data.title}
              </a>
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</div>