---
import Layout from "./layout.astro";

interface Props {
  title: string;
  description?: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <header role="banner">
    <h1>Paga UI</h1>
  </header>
  <nav role="navigation"></nav>
  <main role="main">
    <slot />
  </main>
</Layout>
